<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Working program</title>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/b.."
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link th:href="@{/css/signin.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Диплом</a>
        </div>
    </div>
</nav>
<div class="container">

    <form class="form-signin" action="/login" method="post">
        <h2 class="form-signin-heading"></h2>
        <label for="inputEmail" class="sr-only">Логин</label>
        <input type="text" id="inputEmail" class="form-control" th:name="username" placeholder="Логин" required="" autofocus=""/>
        <label for="inputPassword" class="sr-only">Пароль</label>
        <input type="password" id="inputPassword" class="form-control" th:name="password" placeholder="Пароль" required=""/>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"/> Запомнить меня
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
    </form>
</div>

<script th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"/>
<script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"/>
</body>
</html>